streamlit
crewai
openai
python-dotenv
requests
beautifulsoup4
faiss-cpu
tiktoken
langchain
langchain-community
langchain-openai
sentence-transformers
pypdf
python-docx
pandas
PyPDF2
pytesseract
Pillow

